In [4]:
import numpy as np
import pandas as pd
import sys

In [3]:
subs = pd.read_csv("C:/Users/Dell/Downloads/subs.csv").squeeze()
runs = pd.read_csv("C:/Users/Dell/Downloads/kohli_ipl.csv").squeeze()
film = pd.read_csv("C:/Users/Dell/Downloads/bollywood.csv").squeeze()

In [9]:
# astype

runs.astype('int16')
sys.getsizeof(runs.astype('int16'))

1004

In [12]:
# between
runs['runs'].between(51,99)
runs['runs'].between(51,99).size

215

In [13]:
# clip values < 100 become 100 and >200 become 200
subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [15]:
# keeps only the first occurence
temp = pd.Series([1,1,2,2,3,3,4,4,5,5])
temp.drop_duplicates()

# keeps only the last occurence
temp.drop_duplicates(keep="last")

0    1
2    2
4    3
6    4
8    5
dtype: int64

In [18]:
# tells which values are duplicated
temp.duplicated()

5

In [24]:
# count of missing values
temp = pd.Series([1,2,3,np.nan, 5, 6, np.nan, 9, 10])
print(temp.count())
print(temp.size)

print(temp.isnull().sum())

7
9

2

In [25]:
# drop nan values
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     9.0
8    10.0
dtype: float64

In [26]:
# fill missing value
temp.fillna(0)
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     9.0
8    10.0
dtype: float64

In [31]:
# to find values in range
runs[(runs==49) | (runs== 99)]
runs[runs.isin([69,22,4])]

     match_no  runs
0         NaN   NaN
1         NaN   NaN
2         NaN   NaN
3         4.0   NaN
4         NaN   NaN
..        ...   ...
210       NaN   NaN
211       NaN   NaN
212       NaN   NaN
213       NaN   NaN
214       NaN   NaN

[215 rows x 2 columns]

In [39]:
# to make custom functions
film["movie"].apply(lambda x: x.split()[0].upper())

#film.apply(lambda x:x.split()[0].upper())

0            URI:
1       BATTALION
2             THE
3             WHY
4         EVENING
          ...
1495          HUM
1496      AANKHEN
1497     SAATHIYA
1498      COMPANY
1499        AWARA
Name: movie, Length: 1500, dtype: object

In [41]:
subs.mean()
subs.apply(lambda x:'good day' if x > subs.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [45]:
# copy

# head gives original data not some copy
first5 = runs.head()

# copy gives copy of the data
first5 = runs.head().copy()